

html, body {
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Bitter',serif;
  background-color: lightgrey;
}

form{
    margin:0px;
    padding:0px;
    display: grid;
}

.shortText {
  width: 20%m;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0;
}

.medText {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0;
}

.label{
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10px auto 50px;
}

.form-container{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;

  margin-left: 10px;
  margin-right: 10px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.item1, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11{ /* I TOOK OUT ITEM 2 SO THE PADDING WOULDN'T INHIBIT THE COLOR BAR */
  text-align: left;                                                               /* THE VALUES ARE DECLARED FOR THE CONTENT IN ITEM2 IN ITS OWN CONTAINER BELOW */
  padding-left: 30px;
  padding-right: 30px;

  background-color: white;
}

.item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11{ /* SPACES OUT THE LABELS IN THE FORM */
  padding-bottom: 30px;
}

/* -----Logo/headerImage----- */
.item1{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;

  margin-bottom: 10px;
}

.item1 img{
  max-width: 15em;
  height: auto;

  display: block;
margin-left: auto;
margin-right: auto;
}

/* -----Form Title----- */
.item2{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;

  margin-bottom: 2px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20px auto;

}

.item2ColorBar{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;

  background-color: #cda65e;
  padding-left: 0px;
  padding-right: 0px;
}

.item2Content{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;

  text-align: left;
  padding-left: 30px;
  padding-right: 30px;

  background-color: white;

}

hr{
  border-top: 1px solid lightgrey;
}

/* -----Introduction----- */
.item3{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;

}

/* -----Name----- */
.item4{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;

}

/* -----Address----- */
.item5{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;

}

/* -----Length of Residence----- */
.item6{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 6;

}

/* -----Neighborhood Description----- */
.item7{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 7;

}

/* -----Neighborhood Needs----- */
.item8{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 8;

}

/* -----Ways to Help----- */
.item9{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 9;

}

/* -----Prayer----- */
.item10{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 10;

}

/* -----Submit Button----- */
.item11{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 11;

  margin-top: 1px;
  padding-top: 20px;
  padding-bottom: 20px;

}

input[type=submit] {
  width: 50%;
  background-color: #cfa14c;
  color: white;
  padding: 14px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cda65e;
}
